.header-text {
	text-align: center;
	font-size: 1.3rem;
	color: white;
	word-spacing: 5px;
}

main {
	width: 100%;
}

@media (min-width: 550px) {
	.header-text {
		font-size: 2rem;
	}

	main {
		width: 100%;
	}
}
